In [1]:
import urllib.request as url
import json
import pandas as pd

In [2]:
res = url.urlopen('https://api.covid19india.org/states_daily.json')

In [3]:
data = json.load(res)

In [4]:
type(data)

dict

In [5]:
data.keys()

dict_keys(['states_daily'])

In [6]:
data = data['states_daily']

In [7]:
df = pd.DataFrame(data)

In [8]:
df.shape

(384, 41)

In [12]:
df.head(2)

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
0,0,1,0,0,0,0,0,14-Mar-20,0,7,...,0,Confirmed,1,1,0,81,0,12,0,0
1,0,0,0,0,0,0,0,14-Mar-20,0,1,...,0,Recovered,0,0,0,9,0,4,0,0

In [11]:
df.tail()

,an,ap,ar,as,br,ch,ct,date,dd,dl,...,sk,status,tg,tn,tr,tt,un,up,ut,wb
379,0,1465,99,1060,774,5,146,18-Jul-20,0,1973,...,2,Recovered,1902,3049,51,23579,0,1030,60,1286
380,0,52,0,2,4,1,0,18-Jul-20,0,26,...,0,Deceased,6,88,2,543,0,24,1,27
381,23,5041,90,1018,1412,26,161,19-Jul-20,0,1211,...,10,Confirmed,1296,4979,223,40243,-163,2211,239,2278
382,12,1127,8,858,826,3,117,19-Jul-20,0,1860,...,0,Recovered,1831,4059,24,22742,0,1181,35,1344
383,0,56,0,4,2,0,0,19-Jul-20,0,31,...,0,Deceased,6,78,0,675,0,38,0,36