In [1]:
import bs4
import urllib.request as url

In [2]:
data = {'title' : [], 'price' : []}

for i in range(1,6):
    response = url.urlopen('https://www.flipkart.com/search?q=tv&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page={}'.format(i))
    page = bs4.BeautifulSoup(response)
    titleList = page.find_all('div', class_='_3wU53n')
    priceList = page.find_all('div', class_='_1vC4OE _2rQ-NK')
    
    for j in range(len(titleList)):
        data['title'].append(titleList[j].text)
        data['price'].append(priceList[j].text)

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data)

In [5]:
df.shape

(120, 2)

In [6]:
# first 5 observations
df.head()

                                               title    price
0  Mi 4A PRO 80 cm (32) HD Ready LED Smart Androi...  ₹12,499
1  Vu Premium 108cm (43 inch) Full HD LED Smart A...  ₹20,999
2       Samsung 80cm (32 inch) HD Ready LED Smart TV  ₹14,499
3  Samsung 80cm (32 inch) HD Ready LED Smart TV  ...  ₹15,999
4  Vu Premium 80cm (32 inch) HD Ready LED Smart A...  ₹12,499

In [8]:
# last 5 observations
df.tail()

                                                 title    price
115  Samsung 125cm (50 inch) Ultra HD (4K) LED Smar...  ₹46,999
116       Samsung 108cm (43 inch) Full HD LED Smart TV  ₹34,999
117  Sony Bravia R252F 101.6cm (40 inch) Full HD LE...  ₹31,999
118  Panasonic FX650 Series 108cm (43 inch) Ultra H...  ₹37,999
119  Samsung N4200 80cm (32 inch) HD Ready LED Smar...  ₹17,900

In [9]:
df.to_csv('dataset.csv')